body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.633);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #A52A2A;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  color: #A52A2A;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #A52A2A;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #8B0000;
}

.links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #A52A2A;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
      url('background1.png') no-repeat center center/cover,
      url('.png') no-repeat center center/cover,
      url('./trees.png') no-repeat center center/cover,
      url('./bg.jpg') no-repeat center center/cover;
  z-index: -1;
  opacity: 10; /* Adjust opacity as needed */
}



.falling-image {
  width: 50px;
  height: 50px;
  background: url('./leaf_01.png') no-repeat center center/contain;
  position: absolute;
  top: -50px; /* Start above the viewport */
  animation: fall-down 10s linear infinite;
}

#falling-image-1 { left: 10%; animation-delay: 0s; }
#falling-image-2 { left: 30%; animation-delay: 2s; }
#falling-image-3 { left: 50%; animation-delay: 4s; }
#falling-image-4 { left: 70%; animation-delay: 6s; }

@keyframes move {
  0% {
      top: 0;
      left: 0;
  }
  25% {
      top: 0;
      left: calc(100% - 50px);
  }
  50% {
      top: calc(100% - 50px);
      left: calc(100% - 50px);
  }
  75% {
      top: calc(100% - 50px);
      left: 0;
  }
  100% {
      top: 0;
      left: 0;
  }
}

@keyframes fall-down {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }
  50% {
      transform: translateY(50vh) rotate(180deg);
      opacity: 0.7;
  }
  100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
  }
}

.moving-icon {
  width: 250px;
  height: 250px;
  background: url('./girl.png') no-repeat center center/contain;
  position: absolute;
  top: 30%;
  animation: move-right-left-flip  10s infinite linear;
}

@keyframes move-right-left-flip {
  0% {
      right: 0;
  }
  50% {
      right: calc(100% - 50px);
  }
  100% {
      right: 0;
  }
}